<div class="br-modal is-large">
  <div class="br-modal-dialog">
    <div class="br-modal-content">
      <div class="br-modal-header">
        <h2 class="br-modal-title">Informar o andamento da atividade</h2>
        <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" (click)="fecharModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="br-modal-body">
        <div class="br-form">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-sm-12">
                <div class="field">
                  <b>{{atividadeEdicao.itemCatalogo}}</b>
                </div>
              </div>                
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="field">
                  <field-validation [classList]="['br-select', 'is-medium']" errorMessage="Campo obrigatório." label="Situação">
                    <select id="situacaoId" name="situacaoId" formControlName="situacaoId" (change)="mudarSituacao($event.target.value)">
                      <option value="">Selecione uma opção</option>
                      <option class="select-items" *ngFor="let item of situacoes" [value]="item.id">{{ item.descricao }}</option>
                    </select>
                  </field-validation>
                </div>
              </div>                
            </div>
            <div class="row">
              <div class="col-sm-6" *ngIf="situacaoId >= 502">
                <div class="field">
                  <field-validation [classList]="['br-input']" errorMessage="Campo obrigatório." label="Data de início">
                    <custom-datepicker formControlName="dataInicio" [minDate]="minDataInicio" [maxDate]="maxDataInicio" [timePicker]="true" placeholder="Selecione uma data" (change)="alterarDataInicio()"></custom-datepicker>
                  </field-validation>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="situacaoId == 503">
                <div class="field">
                  <field-validation [classList]="['br-input']" errorMessage="Campo obrigatório." label="Data de fim">
                    <custom-datepicker formControlName="dataFim" [minDate]="minDataConclusao" [maxDate]="maxDataConclusao" [timePicker]="true" placeholder="Selecione uma data" (change)="alterarDataFim()"></custom-datepicker>
                  </field-validation>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="situacaoId == 503">
              <div class="col-sm-12">
                <div class="field">
                  <field-validation [classList]="['br-input']" errorMessage="Campo obrigatório." label="Tempo gasto para realizar a atividade (em horas)">
                    <input id="tempoRealizado" type="text" placeholder="Insira um valor" [textMask]="{mask: tempoMask}" name="tempoRealizado" formControlName="tempoRealizado">
                  </field-validation>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="field">
                  <field-validation [classList]="['br-input']" label="Local de Execução">
                    <input id="modalidadeDesc" type="text" name="modalidadeDesc" formControlName="modalidadeDesc" />
                  </field-validation>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="field">
                  <field-validation [classList]="['br-input']" label="Tempo Planejado (em horas)">
                    <input id="tempoPrevistoDesc" type="text" name="tempoPrevistoDesc" formControlName="tempoPrevistoDesc" />
                  </field-validation>
                </div>
              </div>                
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="field">
                  <field-validation [classList]="['br-input']" errorMessage="Campo obrigatório." label="Descrição">
                    <textarea maxlength="2000" #descricao id="descricao" placeholder="Insira uma descrição" name="descricao" formControlName="descricao"></textarea>
                    <input-chars-cunter [element]="descricao"></input-chars-cunter>
                  </field-validation>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="situacaoId >= 502">
              <div class="col-sm-12">
                <div class="field">
                  <field-validation [classList]="['br-input']" errorMessage="O tamanho máximo é de 2000 caracteres." label="Descrição da entrega">
                    <textarea maxlength="2000" #consideracoes id="consideracoes" placeholder="Insira a descrição da entrega" name="consideracoes" formControlName="consideracoes"></textarea>
                    <input-chars-cunter [element]="consideracoes"></input-chars-cunter>
                  </field-validation>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="br-modal-footer justify-content-end">
        <button class="br-button is-tertiary is-small" type="button" (click)="fecharModal()">Cancelar</button>
        <button class="br-button is-primary is-small" type="button" (click)="editarAtividade()" [disabled]="!form.valid">Salvar</button>
      </div>
    </div>
  </div>
</div>