<div class="row">
  <div class="col-sm-12 mt-5 ">
    <div class="table-responsive">
      <div class="br-table">
        <div class="table">
          <table class="full-width-table table-striped table-style mat-elevation-z8">
            <thead>
              <tr>
                <th header-item-list-sortable description="Atividade" key="itemCatalogo" [sortConfig]="sortConfig" (fnSortListEvent)="changeOrderList($event)"></th>
                <th header-item-list-sortable description="Situação" key="situacao" [sortConfig]="sortConfig" (fnSortListEvent)="changeOrderList($event)"></th>
                <th class="text-right" header-item-list-sortable description="Tempo planejado" key="tempoPrevistoTotal" [sortConfig]="sortConfig" (fnSortListEvent)="changeOrderList($event)"></th>
                <th class="text-center" header-item-list-sortable description="Data início" key="dataInicio" [sortConfig]="sortConfig" (fnSortListEvent)="changeOrderList($event)"></th>
                <th class="text-center" header-item-list-sortable description="Data fim" key="dataFim" [sortConfig]="sortConfig" (fnSortListEvent)="changeOrderList($event)"></th>
                <th *ngIf="teletrabalhoParcial" header-item-list-sortable description="Local de execução" key="execucaoRemota" [sortConfig]="sortConfig" (fnSortListEvent)="changeOrderList($event)"></th>
                <th class="text-right" header-item-list-sortable description="Tempo despendido" key="tempoRealizado" [sortConfig]="sortConfig" (fnSortListEvent)="changeOrderList($event)"></th>
                <th class="text-center" header-item-list-sortable description="Avaliação" key="nota" [sortConfig]="sortConfig" (fnSortListEvent)="changeOrderList($event)"></th>
                <th class="text-right" header-item-list-sortable description="Tempo homologado" key="tempoHomologado" [sortConfig]="sortConfig" (fnSortListEvent)="changeOrderList($event)"></th>
                <th style="width:90px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dadosPacto.value?.atividades">
                <td>{{item.itemCatalogo}}</td>
                <td>{{item.situacao}}</td>
                <td class="text-right">{{item.tempoPrevistoTotal}}</td>
                <td class="text-center">{{item.dataInicio | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td class="text-center">{{item.dataFim | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td *ngIf="teletrabalhoParcial">
                  <span *ngIf="item.execucaoRemota">Remoto</span>
                  <span *ngIf="!item.execucaoRemota">Presencial</span>
                </td>
                <td class="text-right">{{item.tempoRealizado}}</td>
                <td class="text-center">
                  <div *ngIf="item.nota === 0 || item.nota" title="{{item.justificativa}}">{{ item.nota }}</div>
                  <secure-input-full *ngIf="item.situacaoId === 503" [perfis]="[PerfilEnum.Diretor, PerfilEnum.CoordenadorGeral, PerfilEnum.ChefeUnidade]" [unidade]="unidadePacto">
                    <a href="javascript:void(0)" *ngIf="usuarioPodeAvaliar" (click)="modalAvaliar(item.pactoTrabalhoAtividadeId)">Avaliar</a>
                  </secure-input-full>
                  <secure-input-full *ngIf="item.situacaoId === 503" [perfis]="[PerfilEnum.Servidor]" [unidade]="unidadePacto">
                    <a href="javascript:void(0)" *ngIf="!usuarioPodeAvaliar && item.nota" (click)="modalAvaliar(item.pactoTrabalhoAtividadeId)">Ver avaliação</a>
                  </secure-input-full>
                </td>
                <td class="text-right">{{item.tempoHomologado}}</td>
                <td class="text-center">
                  <secure-input [perfis]="[PerfilEnum.Servidor]" [servidor]="servidorPacto" *ngIf="!isReadOnly.value">
                    <a href="javascript:void(0)" (click)="modalEditar(item.pactoTrabalhoAtividadeId)" *ngIf="(item.nota === 0 || !item.nota) && item.formaCalculoTempoItemCatalogoId !== 201" class="mr-2"><i class="fa fa-edit"></i></a>
                  </secure-input>
                  <a href="javascript:void(0)" title="Ver detalhes" (click)="modalVisualizar(item.pactoTrabalhoAtividadeId)"><i class="fa fa-eye"></i></a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2" class="text-right">Totais:</td>
                <td class="text-right">{{tempoPrevistoTotal}}</td>
                <td colspan="2" class="text-right"></td>
                <td *ngIf="teletrabalhoParcial"></td>
                <td class="text-right">{{tempoRealizado}}</td>
                <td></td>
                <td class="text-right">{{tempoHomologado}}</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>