<div class="kanban">
  <div class="row" cdkDropListGroup>
    <div class="drop-container col-sm-4 todo">
      <h3>Pendente</h3>

      <div class="drop-item-container">
        <div cdkDropList id="todoList"
             [cdkDropListData]="todo"
             class="drop-list"
             (cdkDropListDropped)="drop($event)">
          <div class="drop-box" [class.drag-disabled]="!usuarioPodeAlterar" *ngFor="let item of todo" [cdkDragDisabled]="!usuarioPodeAlterar" [cdkDragData]="item" cdkDrag (click)="modalEditar(item.pactoTrabalhoAtividadeId)">
            <div>
              {{item.itemCatalogo}}<br />
              <small class="ml-4 text-gray-4" *ngIf="checkRemotoPresencial()">
                Local de Execução: <span class="text-gray-7">{{descricaoModalidadeAtividade(item)}}</span><br />
              </small>
              <small class="ml-4 text-gray-4" *ngIf="item.tempoPrevistoPorItem">Tempo previsto <span class="text-gray-7">{{item.tempoPrevistoPorItem}}</span></small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="drop-container col-sm-4 doing">
      <h3>Em andamento</h3>

      <div class="drop-item-container">
        <div cdkDropList id="doingList"
             [cdkDropListData]="doing"
             class="drop-list"
             (cdkDropListDropped)="drop($event)">
             <div class="drop-box" [class.drag-disabled]="!usuarioPodeAlterar" *ngFor="let item of doing" [cdkDragDisabled]="!usuarioPodeAlterar" [cdkDragData]="item" [cdkDragDisabled]="item.formaCalculoTempoItemCatalogoId === 201" cdkDrag (click)="modalEditar(item.pactoTrabalhoAtividadeId)">
            <div>
              {{item.itemCatalogo}}<br />
              <small class="ml-4 text-gray-4" *ngIf="checkRemotoPresencial()">
                Local de Execução: <span class="text-gray-7">{{descricaoModalidadeAtividade(item)}}</span><br />
              </small>
              <small class="ml-4 text-gray-4" *ngIf="item.tempoPrevistoPorItem">Tempo planejado <span class="text-gray-7">{{item.tempoPrevistoPorItem}}</span></small>
              <small class="ml-4 text-gray-4" *ngIf="item.tempoRealizado">Tempo realizado <span class="text-gray-7">{{item.tempoRealizado}}</span></small><br />
              <small class="ml-4 text-gray-4" *ngIf="item.dataInicio">Início <span class="text-gray-7">{{item.dataInicio | date: 'dd/MM/yyyy HH:mm'}}</span></small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="drop-container col-sm-4 done">
      <h3>Concluído</h3>

      <div class="drop-item-container">
        <div cdkDropList id="doneList"
             [cdkDropListData]="done"
             class="drop-list"
             (cdkDropListDropped)="drop($event)">
             <div class="drop-box" [class.drag-disabled]="!usuarioPodeAlterar" *ngFor="let item of done" [cdkDragDisabled]="!usuarioPodeAlterar" [cdkDragData]="item" [cdkDragDisabled]="item.nota" cdkDrag (click)="modalEditar(item.pactoTrabalhoAtividadeId)">
            <div>
              {{item.itemCatalogo}}<br />
              <small class="ml-4 text-gray-4" *ngIf="checkRemotoPresencial()">
                Local de Execução: <span class="text-gray-7">{{descricaoModalidadeAtividade(item)}}</span><br />
              </small>
              <small class="ml-4 text-gray-4" *ngIf="item.tempoPrevistoPorItem">Tempo previsto <span class="text-gray-7">{{item.tempoPrevistoPorItem}}</span></small>
              <small class="ml-4 text-gray-4" *ngIf="item.tempoRealizado">Tempo realizado <span class="text-gray-7">{{item.tempoRealizado}}</span></small><br />
              <small class="ml-4 text-gray-4" *ngIf="item.dataInicio">Início <span class="text-gray-7">{{item.dataInicio | date: 'dd/MM/yyyy HH:mm'}}</span></small><br />
              <small class="ml-4 text-gray-4" *ngIf="item.dataFim">Fim <span class="text-gray-7">{{item.dataFim | date: 'dd/MM/yyyy HH:mm'}}</span></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
